<% meta title: @post.title, description: @post.truncated_preview %>

<meta name="twitter:title" content="<%= @post.title %>">
<meta property="og:description" content="<%= @post.truncated_preview %>">

<% featured_image = @post.featured_image_url %>

<% if featured_image %>
  <meta name="twitter:image" content="<%= image_url featured_image %>">
  <meta name="og:image" content="<%= image_url featured_image %>">
<% end %>

<%= render @post %>

<div class="text-center my-8">
    <% newer_posts_link = "/posts/#{@newer_posts.first.slug}" if @newer_posts.size > 0 %>
    <% newer_posts_link_classes = "text-gray-300 cursor-default pointer-events-none" if @newer_posts.size < 1 %>
    <%= link_to '‹ Newer', newer_posts_link, class: newer_posts_link_classes %>
    |
    <% older_posts_link = "/posts/#{@older_posts.last.slug}" if @older_posts.size > 0 %>
    <% older_posts_link_classes = "text-gray-300 cursor-default pointer-events-none" if @older_posts.size < 1 %>
    <%= link_to 'Older ›', older_posts_link, class: older_posts_link_classes %>
</div>
