<% meta title: @post.title, description: @post.truncated_preview %>

<meta name="twitter:title" content="<%= @post.title %>">
<meta property="og:description" content="<%= @post.truncated_preview %>">

<% featured_image = @post.featured_image_url %>

<% if featured_image %>
  <meta name="twitter:image" content="<%= image_url featured_image %>">
  <meta name="og:image" content="<%= image_url featured_image %>">
<% end %>

<%= render @post %>



<div class="text-center my-8">
    <% older_post_link = @older_post != nil ? "/posts/#{@older_post.slug}" : "#" %>
    <% older_post_classes = "text-gray-300 cursor-default pointer-events-none" if @older_post == nil %>
    <%= link_to '‹ Older', older_post_link, class: older_post_classes %>
    |
    <% newer_post_link = @newer_post != nil ? "/posts/#{@newer_post.slug}" : "#" %>
    <% newer_post_classes = "text-gray-300 cursor-default pointer-events-none" if @newer_post == nil %>
    <%= link_to 'Newer ›', newer_post_link, class: newer_post_classes %>
</div>